<div class="menu">
    <div class="icon">
        <img src="assets/admin.png" alt="">
    </div>
    <p>Dashboard</p>
    <ul>
        <li routerLink="/dashboard"><i class="fa-solid fa-house-user"></i> Home</li>
        <li><i class="fa-sharp fa-solid fa-chart-line"></i> Analytics</li>
        <li><i class="fa-solid fa-sack-dollar"></i> Sales</li>
    </ul>
    <p>Quick Menu</p>
    <ul>
        <li routerLink='/users'><i class="fa-solid fa-users-line"></i> Users</li>
        <li routerLink='/products'><i class="fa-solid fa-desktop"></i> Products</li>
        <li routerLink='/orders'><i class="fa-sharp fa-solid fa-cart-shopping"></i> Orders</li>
        <li><i class="fa-solid fa-bug"></i> Reports</li>
    </ul>
    <p>Notifications</p>
    <ul>
        <li><i class="fa-solid fa-envelope"></i> Mail</li>
        <li><i class="fa-sharp fa-solid fa-comments"></i> Feedback</li>
        <li><i class="fa-solid fa-message"></i> Messages</li>
    </ul>
    <p>Staff</p>
    <ul>
        <li><i class="fa-solid fa-bars-progress"></i> Manage</li>
        <li><i class="fa-sharp fa-solid fa-chart-line"></i> Analytics</li>
        <li><i class="fa-solid fa-flag"></i> Reports</li>
    </ul>

</div>