<nav class="nav">
    <div>
        <h1>Admin Panel</h1>
    </div>
    <div>
        <i class="fa-regular fa-bell"></i>
        <i class="fa-sharp fa-solid fa-message"></i>
        <i class="fa-solid fa-gear"></i>
        <span class="dropdown" style="float:right;">
            <i class="fa-solid fa-user-tie btn"></i>
            <div class="content">
                <a>Security</a>
                <a>Settings</a>
                <a (click)="logOut()">Log Out</a>
            </div>
        </span>
    </div>
</nav>